.quemsomos {
}
.quemsomos-banner {
  width: 100vw;
  height: 100%;
  max-height: 700px;
  position: relative;
}

.quemsomos-banner-img {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
}

.quemsomos-banner-items {
  padding-top: 70px;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.quemsomos-banner-items-texts {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.quemsomos-banner-title {
  font-size: 42px;
  color: var(--banner-blue);
  max-width: 484px;
}

.quemsomos-banner-desc {
  font-family: Arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 122%;
  letter-spacing: 5%;
  max-width: 500px;
}

.quemsomos-banner-image-img {
  max-width: 288px;
}
