.quemsomos {
  height: 100%;
  width: 100vw;
}
.quemsomos-banner {
  width: 100vw;
  height: 100%;
  max-height: 700px;
  position: relative;
  padding: 0 24px;
}

.quemsomos-banner-img {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
}

.quemsomos-banner-items {
  padding-top: 70px;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.quemsomos-banner-items-texts {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.quemsomos-banner-title {
  font-size: 42px;
  color: var(--banner-blue);
  max-width: 484px;
}

.quemsomos-banner-desc {
  font-family: Arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 122%;
  letter-spacing: 5%;
  max-width: 500px;
  color: var(--desc-gray);
}

.quemsomos-banner-image-img {
  max-height: 642px;
}

.quemsomos-tecnology {
  width: 100vw;
  height: 100%;
  max-height: 500px;
  position: relative;
  margin-top: 150px;
  margin-bottom: 70px;
}

.tecnology {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 24px;
}

.tecnology-item {
  position: relative;
  overflow: visible;
  max-width: 531px;
}

.tecnology-item-img {
  max-width: 447px;
  border-radius: 0 0 0;
  box-shadow: 0px 4px 4px 0px #00000040;
  clip-path: path(
    "M440 230 C440 325 265 415 165 415 C65 415 5 325 5 230 C5 135 65 0 165 0 C265 0 440 135 440 230 Z"
  );
  z-index: 1;
}

.tecnology-item-icons {
  position: absolute;
  height: 138px;
  width: 51px;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--blue);
  color: #fff;
  border-radius: 8px;
  z-index: 2;
  bottom: 170px;
  left: -10px;
}

.tecnology-item-line {
  width: 100%;
}

.tecnology-item-override {
  position: absolute;
  height: 167px;
  width: 167px;
  bottom: -30px;
  right: -30px;
  z-index: 3;
}

.item-override {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: visible;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
}

.item-override-elipse {
  top: 40px;
  left: -50px;
  position: absolute;
  height: 93px;
  width: 113px;
  clip-path: path(
    "M104.5 36.1957C104.5 67.1236 128.428 93.1956 97.5 93.1956C66.5721 93.1956 0 44.6738 0 13.7458C0 -17.1821 15.5721 13.7455 46.5 13.7455C77.4279 13.7455 104.5 5.26771 104.5 36.1957Z"
  );
  background-color: var(--blue);
  opacity: 0.88;
  z-index: -1;
}

.item-override-title {
  font-size: 14px;
  color: var(--title-blue);
  max-width: 100px;
  text-align: center;
}

.item-override-desc {
  font-family: Arial;
  font-weight: 600;
  font-style: Bold;
  font-size: 11px;
  text-align: center;
  color: var(--opinion-color);
}

.tecnology-item {
  display: flex;
  flex-direction: column;
}

.item-top-title {
  border: 1px dashed #71717180;
  border-radius: 50%;
  max-width: 100px;
  padding: 3px 0;
  opacity: 1;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--opinion-color);
  text-align: center;
  background-color:var(--not-selected);
  margin-bottom: 12px;
}

.tecnology-item-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  color: var(--dark-blue);
}

.tecnology-item-desc {
  max-width: 531px;
  font-family: Arial;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  margin: 52px 0;
}

.tecnology-item-bar {
  display: inline-block;
  height: 14px;
  width: 100%;
  max-width: 260px;
  background-color: var(--card-blue);
  border-radius: 14px;
}

.tecnology-item-bar:last-child {
  margin-left: 6px;
}

.tecnology-item-text {
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--blue);
}

.tecnology-item-button {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tecnology-item-button button {
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 10px;
}
