.quemsomos {
  height: 100%;
  width: 100vw;
}
.quemsomos-banner {
  width: 100vw;
  height: 100%;
  position: relative;
  padding: 100px 24px 0;
  min-height: 500px;
}

.quemsomos-banner-img {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
}

.quemsomos-banner-items {
  padding-top: 70px;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.quemsomos-banner-items-texts {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.quemsomos-banner-title {
  font-size: 42px;
  color: var(--banner-blue);
  max-width: 484px;
}

.quemsomos-banner-desc {
  font-family: Arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 122%;
  letter-spacing: 0.5px;
  max-width: 500px;
  color: var(--desc-gray);
}

.quemsomos-banner-image-img {
  max-height: 600px;
}

.quemsomos-tecnology {
  width: 100vw;
  height: 100%;
  position: relative;
  margin-top: 150px;
  margin-bottom: 70px;
}

.tecnology {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 24px;
}

.tecnology-item {
  position: relative;
  overflow: visible;
  max-width: 531px;
}

.tecnology-item-img {
  max-width: 447px;
  box-shadow: 0px 4px 4px 0px #00000040;
  clip-path: path(
    "M440 230 C440 325 265 415 165 415 C65 415 5 325 5 230 C5 135 65 0 165 0 C265 0 440 135 440 230 Z"
  );
  z-index: 1;
}

.tecnology-item-icons {
  position: absolute;
  height: 138px;
  width: 51px;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--blue);
  color: #fff;
  border-radius: 8px;
  z-index: 2;
  bottom: 170px;
  left: -10px;
}

.tecnology-item-line {
  width: 100%;
}

.tecnology-item-override {
  position: absolute;
  height: 167px;
  width: 167px;
  bottom: -30px;
  right: -30px;
  z-index: 3;
}

.item-override {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: visible;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
}

.item-override-elipse {
  top: 40px;
  left: -50px;
  position: absolute;
  height: 93px;
  width: 113px;
  clip-path: path(
    "M104.5 36.1957C104.5 67.1236 128.428 93.1956 97.5 93.1956C66.5721 93.1956 0 44.6738 0 13.7458C0 -17.1821 15.5721 13.7455 46.5 13.7455C77.4279 13.7455 104.5 5.26771 104.5 36.1957Z"
  );
  background-color: var(--blue);
  opacity: 0.88;
  z-index: -1;
}

.item-override-title {
  font-size: 14px;
  color: var(--title-blue);
  max-width: 100px;
  text-align: center;
}

.item-override-desc {
  font-family: Arial;
  font-weight: 600;
  font-style: Bold;
  font-size: 11px;
  text-align: center;
  color: var(--opinion-gray);
}

.tecnology-item {
  display: flex;
  flex-direction: column;
}

.item-top-title {
  border: 1px dashed #71717180;
  border-radius: 50%;
  max-width: 100px;
  padding: 3px 0;
  opacity: 1;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--opinion-gray);
  text-align: center;
  background-color: var(--not-selected);
  margin-bottom: 12px;
}

.tecnology-item-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  color: var(--dark-blue);
}

.tecnology-item-desc {
  max-width: 531px;
  font-family: Arial;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  margin: 52px 0;
}

.tecnology-item-bar {
  display: inline-block;
  height: 14px;
  width: 100%;
  max-width: 260px;
  background-color: var(--card-blue);
  border-radius: 14px;
}

.tecnology-item-bar:last-child {
  margin-left: 6px;
}

.tecnology-item-text {
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--blue);
}

.tecnology-item-button {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tecnology-item-button button {
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 10px;
}

.quemsomos-proporsal {
  width: 100vw;
  height: 100%;
  position: relative;
  margin-top: 150px;
  margin-bottom: 70px;
}

.proporsal {
  height: 100%;
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.proporsal-item {
  width: 100%;
  max-width: 606px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.proporsal-item-button a {
  font-size: 13px;
  background-color: var(--primary-blue);
  padding: 8px 24px;
}

.proporsal-item span {
  font-family: Arial;
  font-weight: 700;
  font-style: Bold;
  font-size: 10px;
  line-height: 100%;
  text-transform: capitalize;
  color: var(--primary-blue);
  margin-bottom: 16px;
}

.proporsal-item-texts {
  max-width: 460px;
}

.proporsal-item-title {
  max-width: 478px;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 45px;
  color: var(--dark-blue);
  margin-bottom: 24px;
}

.proporsal-item-desc {
  font-family: Arial;
  margin-top: 20px;
  max-width: 350px;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  letter-spacing: 8%;
  color: var(--opinion-gray);
  margin: 10px 0;
}

.proporsal-item-desc:last-child {
  margin-bottom: 24px;
}

.proporsal-item-left,
.proporsal-item-right,
.proporsal-item-green,
.proporsal-item-orange {
  position: absolute;
  height: 100%;
  width: 100%;
  max-height: 282px;
  max-width: 319px;
  border-radius: 8px;
  overflow: hidden;
}

.proporsal-item-left {
  bottom: 50px;
  left: 0;
  z-index: 4;
}

.proporsal-item-right {
  top: 0;
  right: 0;
  z-index: 3;
}
.proporsal-item-green {
  max-height: 222px;
  bottom: 62px;
  left: 16px;
  background-color: var(--green);
  z-index: 1;
}

.proporsal-item-orange {
  max-height: 222px;
  top: 10px;
  right: -18px;
  background-color: var(--medium-orange);
  z-index: 2;
}

.proporsal-item-img {
  max-width: 319px;
  border-radius: 8px;
}

.quemsomos-values {
  width: 100vw;
  height: 100%;
  position: relative;
  padding: 50px 24px 160px 24px;
  background: linear-gradient(
    90deg,
    var(--primary-blue) 0%,
    var(--gradient-blue) 100%
  );
  margin: 180px 0;
}

.values-circle1,
.values-circle2 {
  position: absolute;
  height: 360px;
  width: 360px;
  background-color: #d6e7ee40;
  backdrop-filter: blur(25px);
  border-radius: 50%;
  overflow: hidden;
  bottom: calc(-360px / 2);
  left: -242px;
}

.values-circle2 {
  height: 252px;
  width: 242px;
  left: unset;
  bottom: unset;
  top: calc(-252px / 2);
  right: calc(-242px / 2);
}

.values {
  margin: 0 auto;
  max-width: 1202px;
}

.values-texts {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  line-height: 110%;
  font-weight: 700;
}

.values-texts-top {
  font-family: Arial;
  font-size: 10px;
}

.values-texts-title {
  font-size: 40px;
  line-height: 100%;
  margin: 24px 0;
}

.values-texts-title span {
  color: var(--medium-green);
}

.values-texts-desc {
  font-family: Arial;
  font-size: 15px;
}

.values-cards {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.values-card-container {
  width: 262.5px;
  height: 200px;
  position: relative;
}

.values-card {
  width: 262.5px;
  height: 200px;
  background-color: #fff;
  clip-path: path(
    "M10.6159 13.0487C6.36321 7.82145 10.0829 0 16.8216 0H254.5C258.918 0 262.5 3.58172 262.5 8V101.5V192C262.5 196.418 258.918 200 254.5 200H32C27.5817 200 24 196.418 24 192V97.5V32.3432C24 30.5041 23.3663 28.7211 22.2057 27.2945L10.6159 13.0487Z"
  );
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 24px;
}
.values-card-texts {
  height: 94px;
  max-width: 198px;
  margin-left: 18px;
}

.values-card-emphasis {
  width: 167px;
  height: 31px;
  position: absolute;
  left: 0;
  padding: 8px 24px;
  border-radius: 8px;
  left: 10px;
  top: 30px;
  z-index: 2;
  font-family: Arial;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.5px;
}

.values-card-title {
  font-family: Arial;
  font-weight: 700;
  font-size: 15px;
  color: var(--desc-gray);
  margin-bottom: 12px;
}

.values-card-desc {
  font-family: Arial;
  font-weight: 700;
  font-size: 10px;
  color: var(--desc-color);
}

.quemsomos-firstStep {
  width: 100vw;
  padding: 0 24px 160px 24px;
}

.firststep {
  margin: 0 auto;
  width: 100%;
  max-width: 1202px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
}

.firststep-item {
  width: 100%;
  max-width: 582px;
}

.firststep-item:first-child {
  background-color: var(--light-blue);
  padding: 36px 24px;
  border-radius: 24px;
}

.firstStep-form-header {
  margin-bottom: 32px;
}

.firstStep-form-header-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: var(--medium-green);
}

.firstStep-form-body {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.firststep-form-item {
  position: relative;
}

.firststep-form-message {
  position: absolute;
  color: #f00;
  font-size: 11px;
  left: 24px;
  bottom: -14px;
}

.firstStep-form-item-text {
  height: 334px;
  width: 100%;
  border-radius: 32px;
  padding: 24px;
}

.firstStep-form-button {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.firstStep-form-button button {
  background-color: var(--primary-blue);
  font-family: Arial;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
}

.firststep-item:last-child {
  max-width: 551px;
}

.firstStep-item-header {
  max-width: 462px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.firstStep-item-header-title {
  font-weight: 700;
  font-size: 32px;
  text-align: right;
  color: var(--dark-blue);
}
.firstStep-item-header-undertitle {
  font-family: Arial;
  font-weight: 700;
  font-size: 10px;
  text-align: right;
  color: #7171718c;
  align-self: flex-end;
}
.firstStep-item-header-desc {
  max-width: 446px;
  font-family: Arial;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: var(--opinion-gray);
  margin: 42px 0;
}

.firstStep-item-steps {
  max-width: 485px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  padding-bottom: 72px;
  margin-bottom: 32px;
  border-bottom: 1px solid var(--not-selected);
}

.firstStep-item-step {
  display: flex;
  gap: 14px;
}

.step-number {
  font-family: "Archivo Black", Impact, "Arial Black", Arial, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: 2px;
}

.step-text {
  max-width: 400px;
  font-family: Arial;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: var(--dark-blue);
}

.item-invite-text {
  max-width: 482px;
  font-family: Arial;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: var(--opinion-gray);
}

@media (max-width: 768px) {
  .quemsomos-banner {
    padding: 32px 16px;
  }

  .quemsomos-banner-items {
    flex-wrap: wrap-reverse;
  }

  .quemsomos-banner-items-texts {
    gap: 32px;
  }

  .quemsomos-banner-title {
    font-size: 34px;
    color: var(--banner-blue);
    max-width: 484px;
  }

  .quemsomos-banner-image-img {
    max-height: 450px;
  }

  .quemsomos-tecnology {
    margin-top: 0px;
  }

  .tecnology {
    flex-wrap: wrap;
    padding: 0 16px;
  }

  .tecnology-item:first-child {
    max-width: 100%;
    display: flex;
    align-items: center;
    max-height: 430px;
    margin-bottom: 16px;
  }

  .tecnology-item-img {
    transform: scale(0.75);
  }

  .tecnology-item-icons {
    left: 0px;
    bottom: 145px;
    transform: scale(0.9);
  }

  .tecnology-item-override {
    transform: scale(0.65);
    right: 0px;
    bottom: 0px;
  }

  .tecnology-item-bar {
    max-width: 49%;
  }

  .quemsomos-proporsal {
    max-width: 100vw;
    margin-top: 80px;
  }

  .proporsal {
    margin: 0 16px;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 100vw;
  }

  .proporsal-item-texts {
    max-width: 92%;
  }

  .proporsal-item-title {
    font-size: 38px;
    max-width: 100%;
  }

  .proporsal-item:last-child {
    min-height: 400px;
    margin-top: 50px;
  }

  .proporsal-item-img {
    max-width: 270px;
    border-radius: 8px;
  }

  .proporsal-item-left {
    bottom: 0px;
  }

  .proporsal-item-green {
    max-height: 200px;
    max-width: 270px;
    bottom: 55px;
    left: 16px;
    background-color: var(--green);
    z-index: 1;
  }

  .proporsal-item-orange {
    max-height: 190px;
    max-width: 280px;
    top: 10px;
    right: 30px;
    background-color: var(--medium-orange);
    z-index: 2;
  }

  .quemsomos-values {
    width: 100vw;
    height: 100%;
    position: relative;
    padding: 70px 16px 100px 16px;
    margin-top: 24px;
  }

  .values-texts-title {
    font-size: 35px;
  }

  .values-texts {
    padding-bottom: 24px;
  }

  .values-circle1,
  .values-circle2 {
    transform: scale(0.8);
  }

  .values-cards {
    gap: 50px;
    margin-top: 32px;
  }

  .values-card {
    transform: scale(1.1);
  }
  .quemsomos-firstStep {
    width: 100vw;
    padding: 0;
  }
  .firststep {
    max-width: 100vw;
    flex-wrap: wrap-reverse;
  }

  .firstStep-item-header {
    max-width: 100%;
    padding: 0 16px;
  }

  .firstStep-item-header-title,
  .firstStep-item-header-undertitle {
    text-align: start;
    align-self: flex-start;
  }

  .firstStep-item-header-desc {
    margin: 24px 0;
  }

  .firstStep-item-steps {
    max-width: 100vw;
    gap: 32px;
    padding: 16px 0 52px 16px;
    margin-bottom: 32px;
  }

  .firstStep-item-step {
    gap: 5px;
    align-items: center;
  }
  .firstStep-item-invite {
    max-width: 100vw;
    margin: 0 12px;
  }

  .firststep-item:first-child {
    border-radius: 0;
    padding: 42px 16px 70px 16px;
  }

  .firstStep-form-header-title {
    font-size: 28px;
  }

  .firstStep-form-button {
    margin: 24px auto 0;
  }

  .firstStep-form-button button {
    padding: 16px;
    font-size: 16px;
    min-width: 100%;
  }
}

@media (max-width: 375px) {
  .tecnology-item-img {
    transform: scale(0.65);
  }
}
