.conta {
  width: 100vw;
}

.conta-banner {
  width: 100%;
  position: relative;
  z-index: 1;
  min-height: 790px;
}

.conta-banner-bg {
  position: absolute;
  z-index: -1;
  opacity: 0.15;
}

.conta-banner-bg img {
  max-height: 684px;
}

.conta-banner-items {
  max-width: 1188px;
  padding: 0 24px;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.conta-banner-texts {
  max-width: 560px;
  margin-top: 70px;
  padding-bottom: 32px;
}

.conta-banner-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  color: var(--banner-blue);
  margin-bottom: 36px;
}

.conta-banner-subtitle {
  font-family: Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--dark-blue);
  margin-bottom: 36px;
}

.conta-banner-subtitle a {
  font-family: Arial;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: var(--banner-blue);
}

.conta-banner-desc {
  margin-bottom: 36px;
}

.conta-banner-text {
  font-family: Arial;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 121%;
  letter-spacing: 0.5px;
  margin-bottom: 18px;
  color: var(--desc-gray);
}

.conta-banner-link {
  font-family: Arial;
  font-weight: 700;
  font-size: 16px;
  line-height: 121%;
  letter-spacing: 0.5px;
  color: var(--banner-blue);
}

.conta-banner-buttons {
  display: flex;
  gap: 32px;
}

.conta-banner-buttons a {
  padding: 8px;
  font-family: Arial;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 3%;
}

.conta-banner-buttons a:last-child {
  max-width: fit-content;
  padding: 8px 32px;
}

.conta-banner-img {
  margin-right: -50px;
  max-height: 584px;
}

.conta-banner-img img {
  max-height: 100%;
}

.conta-banner-cards {
  position: absolute;
  bottom: -130px;
  width: 100%;
  max-width: 1188px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
}

.conta-banner-card {
  padding: 38px 24px;
  background-color: var(--banner-blue);
  height: 236px;
  width: 100%;
  max-width: 320px;
  border-radius: 16px;
  background: linear-gradient(
    114.93deg,
    #027ede 0%,
    #0161ab 50.55%,
    #014478 101.1%
  );
  box-shadow: 4px 4px 4px 0px #00000040;
}

.conta-banner-card:first-child {
  background: linear-gradient(
    114.93deg,
    #2cc295 0%,
    #208f6e 50.55%,
    #1b765a 75.83%,
    #155c47 101.1%
  );
}

.conta-banner-card:last-child {
  background: linear-gradient(
    114.93deg,
    #f58b21 0%,
    #c26e1a 50.55%,
    #8f5113 101.1%
  );
}

.conta-banner-card-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 4%;
  text-transform: capitalize;
  color: #fff;
}

.conta-banner-card-desc {
  font-family: Arial;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.3px;
  color: #fff;
  margin: 20px 0;
  height: 85px;
}

.conta-banner-card-desc span {
  font-family: Arial;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.3px;
}

.conta-banner-card-btn {
  border: 1px solid #fff;
  background-color: transparent;
  padding: 8px 10px;
  border-radius: 8px;
  color: #fff;
  font-family: Inter;
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  vertical-align: middle;
}

.conta-login {
  z-index: 1;
  background-color: var(--medium-blue);
  padding: 200px 0 100px 0;
}

.login {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.login-form-container {
  background-color: #fff;
  box-shadow: 4px 4px 4px 0px #00000040;
  min-width: 416px;
  height: 456px;
  border-radius: 32px;
  padding: 32px;
}

.login-texts {
  max-width: 527px;
}

.login-form-title {
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 24px;
}

.login-form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.login-form-item input {
  margin-top: 12px;
}

.login-form-item:first-child {
  margin-bottom: 18px;
}

.login-form-item-title {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: var(--dark-blue);
}

.login-form-forget {
  font-family: Inter;
  font-weight: 600;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 6px;
}

.login-form-buttons {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.login-form-buttons button {
  padding: 12px;
  font-family: Arial;
  font-weight: 700;
  line-height: 100%;
  border: 1px solid var(--dark-blue);
  background-color: var(--dark-blue);
  color: #fff;
  border-radius: 8px;
}

.login-form-buttons button:last-child {
  background-color: transparent;
  color: var(--dark-blue);
}

.login-form-registerlink {
  font-family: Arial;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
}

.login-form-registerlink a {
  color: var(--blue);
}

.login-texts-header {
  margin-bottom: 24px;
  color: #fff;
}

.login-texts-header-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  margin-bottom: 32px;
}

.login-texts-header-text {
  font-family: Arial;
  font-weight: 400;
  font-size: 16px;
}

.login-texts-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 32px;
  border-bottom: 2px solid #ffffff4d;
  padding-bottom: 32px;
}

.login-texts-card {
  height: 72px;
  width: 100%;
  max-width: 250px;
  background-color: #fff;
  padding: 12px;
  border-radius: 16px;
  display: flex;
  gap: 14px;
}

.login-texts-card-title {
  font-family: poppins;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  color: var(--dark-blue);
  margin: 2px 0 10px 0;
}

.title--contact {
  margin: 2px 0 8px 0;
}

.login-texts-card-text {
  font-family: Poppins;
  font-weight: 600;
  font-size: 11px;
  line-height: 100%;
  color: var(--card-gray);
}

.login-texts-card-items {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.login-texts-card-item {
  font-family: Poppins;
  font-weight: 600;
  font-size: 11px;
  line-height: 100%;
  margin-left: 20px;
  color: var(--card-gray);
}

.login-texts-card-item a {
  color: inherit;
}

.login-texts-card-icon {
  height: 45px;
  width: 45px;
  background-color: var(--blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--location {
  background-color: #018abe66;
  color: var(--medium-blue);
}

.icon--phone {
  background-color: #f5c30080;
  color: var(--strong-orange);
}

.icon--time {
  background-color: #93c02c80;
  color: var(--medium-green);
}

.icon--email {
  background-color: #fe8e2280;
  color: var(--medium-red);
}

.login-texts-bottom {
  margin-top: 18px;
}

.login-texts-bottom-text {
  max-width: 500px;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}

@media (max-width: 768px) {
  .conta-banner-items {
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-top: 32px;
  }

  .conta-banner-cards {
    position: relative;
    bottom: unset;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 14px;
    left: unset;
    transform: unset;
    margin-bottom: 14px;
    justify-content: center;
  }

  .conta-banner-img {
    margin-right: 0;
    max-height: 384px;
    max-width: 244px;
  }

  .conta-login {
    padding-top: 50px;
  }

  .login {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .conta-banner {
    padding-bottom: 24px;
  }

  .conta-banner-texts {
    margin-top: 24px;
  }

  .conta-banner-card {
    max-width: 100%;
  }

  .login-texts-card {
    max-width: 100%;
  }

  .login-form-container {
    min-width: 100vw;
    padding: 32px 24px;
    border-radius: 0;
  }

  .login-texts {
    padding-bottom: 24px;
  }
}
