.inicio {
  width: 100vw;
}

.inicio-banner {
  min-height: 700px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.banner-texts {
  height: 100%;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 54px;
}

.banner-texts-title {
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-blue);
}

.banner-texts-desc {
  max-width: 550px;
  font-weight: 400;
  font-size: 16px;
}

.banner-img {
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.1;
}

.banners-phone {
  position: relative;
}

.phone-img {
  position: relative;
  height: 448px;
  z-index: 2;
}

.phone-circle1,
.phone-circle2 {
  position: absolute;
  height: 100%;
  max-height: 203px;
  width: 100%;
  max-width: 203px;
  border-radius: 50%;
  background-color: var(--primary-blue);
  z-index: 1;
}

.phone-circle1 {
  top: -50px;
  left: -5px;
}

.phone-circle2 {
  bottom: -15px;
  right: 0;
}

.inicio-descriptions {
  margin: 0 auto;
  width: 95%;
  max-width: 1040px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.inicio-description {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  text-align: center;
}

.inicio-description-img {
  height: 76px;
}

.inicio-description-img img {
  height: 100%;
  width: 76px;
}

.inicio-description-title {
  color: var(--title-blue);
  margin: 10px 0;
  font-size: 22px;
}

.inicio-description-text {
  color: var(--dark-blue);
  font-weight: 400;
}

.inicio-pillars {
  margin: 0 auto;
  min-height: 555px;
  width: 100%;
  max-width: 1260px;
}

.inicio-pillars-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.pillars-header-line {
  display: inline-block;
  height: 2px;
  width: 8px;
  background-color: var(--primary-blue);
  border: 4px solid #fff;
  box-sizing: content-box;
}

.pillars-header-text {
  font-size: 12px;
  font-weight: 700;
}

.pillars-header-title {
  color: var(--dark-blue);
  font-size: 28px;
  margin: 10px 0;
}

.pillars-header-desc {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: var(--dark-blue);
}

.inicio-pillars-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pillars-card {
  height: 396px;
  width: 382px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  background-color: var(--card-blue);
  padding: 24px;
  justify-content: space-between;
}

.pillars-card-title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.pillars-card-desc {
  font-size: 14px;
  width: 321px;
  margin-top: 20px;
}

.pillars-card-img {
  width: 321px;
  border-radius: 16px;
}

.inicio-solutions {
  position: relative;
  margin-bottom: 70px;
}

.inicio-solutions-banner {
  height: 700px;
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.solutions-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 56px;
}

.solutions-header-title {
  font-size: 41px;
  color: var(--dark-blue);
}

.solutions-items {
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 100px);
  gap: 10px 50px;
}

.solutions-item {
  display: flex;
  height: 54px;
  gap: 8px;
  align-items: center;
  color: var(--dark-blue);
  padding-left: 38px;
  border-radius: 8px;
}

.solutions-item:hover {
  color: #fff;
  background: linear-gradient(
    90deg,
    var(--icon-blue) 0%,
    var(--dark-blue) 50%,
    var(--moredark-blue) 100%
  );
}

.solutions-item:hover * {
  color: #fff;
}

.solutions-item-title {
  max-width: 287px;
}

.solutions-item-icon {
  color: var(--icon-blue);
}

.inicio-pillars-news {
  margin: 0 auto;
  margin-top: 30px;
  height: 212px;
  width: 100%;
  max-width: 1102px;
  background-color: var(--form-blue);
  border-radius: 15px;
  box-shadow: 0px 4px 0px 0px #0000001a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 42px;
}

.pillars-news-texts {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.news-texts-title {
  font-size: 36px;
  max-width: 541px;
}

.news-texts-news {
  color: var(--news-blue);
}

.pillars-news-form {
  width: 425px;
}

.news-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.news-form button {
  width: 100%;
}

.inicio-features {
  position: relative;
  max-width: 1411px;
  margin: 0 auto;
}

.features-header {
  height: 150px;
  display: flex;
  align-items: center;
  padding: 0 32px;
}

.features-header-title {
  font-size: 30px;
  color: var(--primary-blue);
}

/* .features-carroussel {

} */

.features-carroussel-prev,
.features-carroussel-next {
  position: absolute;
  top: 52%;
}

.features-carroussel-next {
  right: 0;
}

.features-carroussel-page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.features-carroussel-items {
  padding: 0 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.features-carroussel-item {
  display: flex;
  gap: 28px;
}

.features-carroussel-icon {
  max-height: 68px;
  background-color: var(--primary-blue);
  color: #fff;
  padding: 14px;
  border-radius: 26px;
  display: flex;
  align-items: center;
}

.features-carroussel-texts {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.features-carroussel-title {
  color: var(--primary-blue);
  font-size: 20px;
}

.features-carroussel-desc {
  font-size: 15px;
  width: 100%;
  max-width: 600px;
  color: var(--desc-color);
}

.features-carroussel-img {
  max-width: 510px;
  width: 100%;
}

.features-carroussel-img img {
  max-height: 324px;
  max-width: 387px;
}

.features-more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-more-pagination {
  margin: 12px 0;
  display: flex;
  gap: 4px;
}

.pagination-item {
  height: 7px;
  width: 7px;
  background-color: var(--not-selected);
  border-radius: 50%;
}

.pagination-item--selected {
  background-color: var(--primary-blue);
}

.features-more-button {
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.6px;
}

.inicio-clients {
  width: 100%;
  max-width: 1440px;
  min-height: 600px;
  margin: 0 auto;
  margin-top: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
}

.clients-img {
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 100vw;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.clients-header {
  padding: 50px;
}

.clients-header-title {
  font-size: 30px;
  color: var(--primary-blue);
}

.clients-carroussel-page {
  position: relative;
  width: 100%;
  justify-self: center;
}

.clients-carroussel-prev,
.clients-carroussel-next {
  position: absolute;
  top: 50%;
  left: 24px;
  z-index: 1;
}

.clients-carroussel-next {
  left: unset;
  right: 24px;
  color: var(--desc-color);
}

.clients-carroussel-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.clients-carroussel-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.clients-carroussel-opinion {
  width: 100%;
  height: 100%;
  max-width: 492px;
  height: 253px;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.carroussel-opinion-tip {
  width: 41px;
  height: 36px;
  display: inline-block;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  bottom: -5px;
  right: 30px;
}

.clients-carroussel-opinion-text {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--opinion-color);
  width: 100%;
  max-width: 394px;
}

.clients-carroussel-client {
  text-align: end;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 26px;
}

.carroussel-client-name {
  font-weight: 700;
  font-size: 17px;
  color: var(--primary-blue);
  margin-bottom: 6px;
}

.carroussel-client-city {
  font-weight: 300;
  font-size: 18px;
}

.clients-pagination {
  margin-top: 60px;
  align-self: center;
  display: flex;
  gap: 4px;
}

.inicio-content {
  margin: 100px auto;
  width: 100%;
  max-width: 1440px;
}
.content-header {
  margin: 0 auto;
  max-width: 1360px;
  padding: 24px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-header-title {
  font-size: 30px;
  color: var(--primary-blue);
}
.content-cards {
  padding: 24px 50px;
  margin: 0 auto;
  width: 100%;
}
.content-cards-items {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: space-evenly;
  align-items: center;
}
.content-cards-item {
  height: 287px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  box-shadow: 0px 4px 4px 0px #0000001a;
  border-radius: 15px;
}
.content-cards-item-texts {
  max-width: 327px;
  font-family: Arial, Helvetica, sans-serif;
}
.content-cards-item-title {
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 700;
  color: var(--opinion-color);
}
.content-cards-item-desc {
  font-size: 14px;
  font-weight: 400;
  color: var(--opinion-color);
}
.content-cards-item-button {
  text-align: start;
}
