.inicio {
  width: 100vw;
  margin-top: 91px;
}

.inicio-banners {
  margin-bottom: 70px;
  position: relative;
}

.inicio-banners-carroussel {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.inicio-banners-circle {
  position: absolute;
  height: 525px;
  width: 525px;
  border-radius: 50%;
  top: -50%;
  opacity: 50%;
  z-index: -1;
}

.circle-orange {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(237, 140, 54, 0.45) 0%,
    rgba(254, 208, 167, 0.2) 50%,
    rgba(214, 231, 238, 0) 100%
  );
}
.circle-blue {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(9, 172, 177, 0.45) 0%,
    rgba(112, 202, 208, 0.2) 50%,
    rgba(214, 231, 238, 0) 100%
  );
  left: calc(100% / 3);
}
.circle-green {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(147, 192, 44, 0.45) 0%,
    rgba(177, 203, 116, 0.2) 50%,
    rgba(214, 231, 238, 0) 100%
  );
  right: 0;
}

.inicio-banner {
  min-height: 600px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.banner-texts {
  height: 100%;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 54px;
}

.banner-texts-title {
  font-family: poppins;
  font-size: 38px;
  width: 100%;
  max-width: 500px;
  font-weight: 700;
  color: var(--banner-blue);
}

.banner-texts-desc {
  max-width: 550px;
  font-family: Arial;
  letter-spacing: 1.1px;
  font-weight: 400;
  font-size: 16px;
  font-family: Arial;
  line-height: 122%;
}

.banners-img {
  position: absolute;
  height: 100%;
  max-height: 700px;
  width: 100%;
  max-width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.1;
}

.banners-phone,
.banners-student {
  position: relative;
}

.banner-img-phone {
  display: flex;
  justify-content: center;
  position: relative;
  max-height: 448px;
  width: 100%;
  max-width: 448px;
  z-index: 2;
  flex-shrink: 2;
}

.phone-circle1,
.phone-circle2 {
  position: absolute;
  height: 100%;
  max-height: 203px;
  width: 100%;
  max-width: 203px;
  border-radius: 50%;
  background: linear-gradient(
    135.51deg,
    var(--soft-blue) 11.09%,
    var(--blue) 59.06%,
    var(--icon-blue) 107.03%
  );
  z-index: 1;
}

.phone-circle1 {
  top: -50px;
  left: -5px;
}

.phone-circle2 {
  bottom: -15px;
  right: 0;
}

.banner-img-student {
  position: relative;
  max-height: 380px;
  width: 100%;
  max-width: 497px;
  z-index: 2;
}

.student-circle1,
.student-circle2,
.student-circle3,
.student-rectangle {
  position: absolute;
  height: 100%;
  max-height: 59px;
  width: 100%;
  max-width: 59px;
  border-radius: 50%;
  background: linear-gradient(
    135.51deg,
    var(--soft-blue) 11.09%,
    var(--blue) 59.06%,
    var(--icon-blue) 107.03%
  );
  z-index: 3;
}

.student-circle1 {
  bottom: 170px;
  left: -25px;
}

.student-circle2 {
  bottom: -25px;
  right: -35px;
}

.student-circle3 {
  top: 0;
  right: 5px;
}

.student-rectangle {
  bottom: 4px;
  max-height: 130px;
  max-width: 385px;
  left: 28px;
  border-radius: 16px;
  z-index: inherit;
}

.banner-books {
  position: relative;
}

.banner-img-books {
  position: relative;
  max-height: 293px;
  width: 100%;
  max-width: 440px;
  z-index: 2;
  flex-shrink: 2;
}

.books-circle1,
.books-circle2 {
  position: absolute;
  height: 100%;
  max-height: 190px;
  width: 100%;
  max-width: 233px;
  border-radius: 32px;
  background: linear-gradient(
    135.51deg,
    var(--soft-blue) 11.09%,
    var(--blue) 59.06%,
    var(--icon-blue) 107.03%
  );
  z-index: 1;
}

.books-circle1 {
  top: -50px;
  left: -5px;
}

.books-circle2 {
  bottom: -15px;
  right: 0;
}

.inicio-descriptions {
  margin: 0 auto;
  width: 95%;
  max-width: 1040px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.inicio-description {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  text-align: center;
}

.inicio-description-img {
  height: 76px;
}

.inicio-description-img img {
  height: 100%;
  width: 76px;
}

.inicio-description-title {
  color: var(--title-blue);
  margin: 10px 0;
  font-size: 22px;
}

.inicio-description-text {
  color: var(--dark-blue);
  font-weight: 400;
}

.inicio-pillars {
  margin: 0 auto;
  min-height: 555px;
  width: 100%;
  max-width: 1260px;
  padding: 0;
}

.inicio-pillars-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 52px;
}

.pillars-header-line {
  display: inline-block;
  height: 2px;
  width: 8px;
  background-color: var(--primary-blue);
  border: 4px solid #fff;
  box-sizing: content-box;
}

.pillars-header-text {
  font-size: 12px;
  font-weight: 700;
}

.pillars-header-title {
  color: var(--dark-blue);
  margin: 10px 0;
  font-family: Poppins;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
}

.pillars-header-desc {
  font-family: Arial;
  font-weight: 700;
  color: var(--dark-blue);
}

.inicio-pillars-cards {
  display: flex;
  justify-content: center;
  gap: 56px;
  flex-wrap: wrap;
}

.pillars-card {
  height: 396px;
  width: 382px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  background-color: var(--card-blue);
  padding: 24px;
  justify-content: space-between;
}

.pillars-card-texts {
  width: 100%;
  padding: 0 12px;
}

.pillars-card-title {
  padding-top: 6px;
  color: var(--dark-blue);
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 121%;
  letter-spacing: 0.5px;
}

.pillars-card-desc {
  width: 260px;
  margin-top: 20px;
  color: var(--dark-blue);
  font-weight: 400;
  font-size: 12px;
  line-height: 121%;
}

.pillars-card-img {
  width: 321px;
  border-radius: 16px;
}

.inicio-solutions {
  position: relative;
  margin-bottom: 50px;
  min-height: 650px;
  padding-top: 52px;
}

.inicio-solutions-banner {
  height: 700px;
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.solutions-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 56px;
}

.solutions-header-title {
  color: var(--dark-blue);
  font-family: Poppins;
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
}

.solutions-items {
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 100px);
  gap: 10px 50px;
}

.solutions-item {
  display: flex;
  flex-direction: column;
  height: 54px;
  gap: 12px;
  justify-content: flex-start;
  color: var(--dark-blue);
  padding-left: 12px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.solution-item-top {
  padding-top: 14px;
  gap: 8px;
  display: flex;
  align-items: center;
  height: 54px;
}

.solutions-item:hover {
  width: 100%;
  max-width: auto;
  z-index: 2;
  height: 180px;
  color: #fff;
  background: linear-gradient(
    90deg,
    var(--icon-blue) 0%,
    var(--dark-blue) 50%,
    var(--moredark-blue) 100%
  );
  transition: all 400ms;
}

.solutions-item:hover * {
  color: #fff;
}

.solutions-item-title {
  max-width: 287px;
}

.solutions-item-icon {
  color: var(--icon-blue);
}

.solution-item-desc {
  padding-right: 8px;
}

.inicio-pillars-news {
  margin: 0 auto;
  margin-top: 30px;
  height: 212px;
  width: 100%;
  max-width: 1102px;
  background-color: var(--form-blue);
  border-radius: 15px;
  box-shadow: 0px 4px 0px 0px #0000001a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 42px;
  position: relative;
}

.pillars-news-msg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-blue);
  color: #fff;
  top: 10px;
  padding: 8px 12px;
  border-radius: 6px;
  font-family: Arial;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  z-index: 2;
}

.pillars-news-texts {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.news-texts-title {
  font-size: 36px;
  max-width: 541px;
}

.news-texts-news {
  color: var(--news-blue);
}

.pillars-news-form {
  width: 425px;
}

.news-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.news-form-name,
.news-form-email {
  position: relative;
}

.news-form-errorMsg {
  font-family: poppins;
  color: #f00;
  position: absolute;
  bottom: -16px;
  left: 16px;
  font-size: 11px;
}

.news-form-button button {
  max-width: 100% !important;
  background-color: var(--primary-blue);
}

.inicio-features {
  position: relative;
  max-width: 1411px;
  margin: 52px auto 0;
}

.features-header {
  height: 150px;
  display: flex;
  align-items: center;
  padding: 0 32px;
}

.features-header-title {
  color: var(--dark-blue);
  font-family: Poppins;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
}

.features-carroussel {
  padding: 0 16px;
}

.features-carroussel-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 52px;
  width: 100%;
}

.features-carroussel-items {
  padding: 0 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 42px;
}

.features-carroussel-item {
  display: flex;
  gap: 28px;
}

.features-carroussel-icon {
  max-height: 68px;
  max-width: 60px;
  background-color: var(--banner-blue);
  color: #fff;
  padding: 14px;
  border-radius: 26px;
  display: flex;
  align-items: center;
}

.features-carroussel-texts {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.features-carroussel-title {
  color: var(--banner-blue);
  font-size: 20px;
}

.features-carroussel-desc {
  font-size: 15px;
  width: 100%;
  max-width: 600px;
  color: var(--desc-color);
}

.features-carroussel-img {
  width: 100%;
  max-width: 450px;
}

.features-carroussel-notebook {
  max-width: 360px;
}

.inicio-clients {
  width: 100%;
  max-width: 1440px;
  min-height: 600px;
  margin: 0 auto;
  margin-top: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
}

.clients-img {
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.clients-header {
  padding: 50px;
}

.clients-header-title {
  color: var(--dark-blue);
  font-family: Poppins;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
}

.clients-carroussel-page {
  position: relative;
  width: 100%;
  justify-self: center;
}

.clients-carroussel-prev,
.clients-carroussel-next {
  position: absolute;
  top: 50%;
  left: 24px;
  z-index: 1;
}

.clients-carroussel-next {
  left: unset;
  right: 24px;
  color: var(--desc-color);
}

.clients-carroussel-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.clients-carroussel-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50% !important;
}

.clients-carroussel-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 360px;
}

.clients-carroussel-opinion {
  width: 100%;
  height: 100%;
  max-width: 492px;
  height: 253px;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.carroussel-opinion-tip {
  width: 41px;
  height: 36px;
  display: inline-block;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  bottom: -5px;
  right: 30px;
}

.clients-carroussel-opinion-text {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--opinion-gray);
  width: 100%;
  max-width: 394px;
}

.clients-carroussel-client {
  text-align: end;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 26px;
}

.carroussel-client-name {
  font-weight: 700;
  font-size: 17px;
  color: var(--primary-blue);
  margin-bottom: 6px;
}

.carroussel-client-city {
  font-weight: 300;
  font-size: 18px;
}

.clients-pagination {
  margin-top: 60px;
  align-self: center;
  display: flex;
  gap: 4px;
}

.inicio-content {
  margin: 100px auto;
  width: 100%;
  max-width: 1440px;
}
.content-header {
  margin: 0 auto;
  max-width: 1360px;
  padding: 24px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-header-title {
  color: var(--dark-blue);
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
}
.content-cards {
  padding: 24px 50px;
  margin: 0 auto;
  width: 100%;
}
.content-cards-items {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: space-evenly;
  align-items: center;
}
.content-cards-item {
  height: 287px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  box-shadow: 0px 4px 4px 0px #0000001a;
  border-radius: 15px;
}
.content-cards-item-texts {
  max-width: 327px;
  font-family: Arial, Helvetica, sans-serif;
}
.content-cards-item-title {
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 700;
  color: var(--desc-gray);
}
.content-cards-item-desc {
  font-size: 14px;
  font-weight: 400;
  color: var(--opinion-gray);
}
.content-cards-item-button {
  text-align: start;
}

@media (max-width: 750px) {
  .inicio-banner {
    padding: 32px 16px;
    flex-wrap: wrap;
    gap: 52px;
  }

  .banner-texts {
    max-height: 220px;
    gap: 16px;
  }

  .banner-texts-title {
    font-size: 32px;
  }

  .banner-img-phone {
    max-height: 400px;
  }

  .phone-circle1,
  .phone-circle2 {
    max-height: 160px;
    max-width: 160px;
  }

  .banner-books,
  .banners-phone {
    margin-top: 52px;
  }

  .banners-student {
    display: flex;
    margin-left: -20px;
  }

  .banner-img-student {
    max-height: 280px;
    z-index: 2;
  }

  .inicio-descriptions {
    width: 100vw;
    padding: 0 14px;
    margin: 100px 0;
  }

  .inicio-description {
    max-width: 115px;
  }

  .inicio-description-img {
    height: 46px;
  }

  .inicio-description-img img {
    width: 46px;
  }

  .inicio-description-title {
    font-size: 16px;
  }

  .inicio-description-text {
    font-size: 13px;
  }

  .inicio-pillars-header {
    padding: 0 16px;
  }

  .pillars-header-title {
    font-size: 24px;
  }

  .pillars-header-desc {
    font-size: 14px;
  }

  .inicio-pillars-cards {
    gap: 24px;
  }

  .inicio-pillars-cards {
    padding: 0 16px;
  }

  .pillars-card {
    height: auto;
    max-width: 100%;
  }

  .pillars-card-title {
    font-size: 24px;
  }

  .pillars-card-desc {
    font-size: 15px;
    margin-bottom: 24px;
  }

  .solutions-header {
    margin: 0;
    padding: 32px 18px;
    display: block;
  }

  .solutions-header-title {
    font-size: 32px;
    text-align: start;
  }

  .solutions-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 16px;
  }

  .solutions-item {
    width: 100%;
    max-width: auto;
    height: 180px;
    color: #fff;
    background: linear-gradient(
      90deg,
      var(--icon-blue) 0%,
      var(--dark-blue) 50%,
      var(--moredark-blue) 100%
    );
  }

  .solutions-item-title {
    font-size: 18px;
  }

  .solutions-item-icon {
    color: #fff;
  }

  .inicio-pillars-news {
    height: auto;
    flex-direction: column;
    border-radius: 0;
    padding: 24px 18px;
    gap: 32px;
  }

  .pillars-news-form {
    max-width: 100%;
  }

  .features-header {
    height: auto;
    padding: 32px 18px 18px 18px;
  }

  .features-carroussel-page {
    justify-content: center;
  }

  .features-carroussel-items {
    gap: 32px;
    padding: 24px 0;
  }
  .features-carroussel-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .features-carroussel-img {
    width: 100%;
  }

  .features-carroussel-notebook {
    max-width: 100%;
  }

  .clients-header {
    padding: 52px 18px 24px;
  }

  .clients-img {
    height: 580px;
  }

  .clients-header-title {
    font-size: 26px;
  }
  .clients-carroussel-page {
    padding: 24px 16px;
  }

  .clients-carroussel-items {
    gap: 32px;
  }

  .clients-carroussel-container {
    min-width: 100% !important;
  }

  .clients-carroussel-item {
    width: 320px;
    margin-bottom: 52px;
  }

  .clients-carroussel-opinion-text {
    font-size: 20px;
  }

  .clients-pagination {
    margin: 24px 0;
  }

  .content-header {
    padding: 24px 18px;
  }

  .content-header-title {
    font-size: 22px;
  }

  .content-cards {
    padding: 24px 18px;
  }

  .content-cards-item {
    width: 100%;
  }

  .content-cards-item-desc {
    font-size: 15px;
  }
}
