.header{
    width: 100vw;
    box-shadow: 0px 4px 4px 0px #0000000A;
}

.header-container{
    margin: 0 auto;
    padding: 12px 0;
    width: 100vw;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 167px 1fr 158px;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
  width: 167px;
  height: 47px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-img {
  height: 55px;
  width: auto;
  overflow: hidden;
}

.header-img {
  height: 100%;
  width: auto;
}

.header-logo-title {
  font-weight: 600;
  font-size: 32px;
}

.header-nav-routes{
    display: flex;
    justify-content: space-between;
    justify-self: center;
    width: 100%;
    max-width: 702px;
}

.route-item{
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
}

.route-item--selected{
    border-bottom: 2px solid#000;
}

.route-item a {
    color: #000;
}

.header-contact-button{
    width: 134px;
    height: 31px;
    background-color: var(--blue);
    border: none;
    border-radius: 8px;
}

.header-contact-button a{
    color: #fff;
}