.header {
  width: 100vw;
  box-shadow: 0px 4px 4px 0px #0000000A;
}

.header-container {
  margin: 0 auto;
  padding: 12px 24px 12px 24px;
  width: 100vw;
  max-width: 1180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 167px;
  height: 47px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-img {
  height: 55px;
  width: auto;
  overflow: hidden;
}

.header-img {
  height: 100%;
  width: auto;
}

.header-logo-title {
  font-weight: 600;
  font-size: 32px;
}

.header-nav {
  width: 100%;
  max-width: 671px;
}

.header-nav-routes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.route-item {
  font-size: 15px;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  color: var(--blue);
}

.route-item--selected {
  color: var(--dark-blue);
  border-bottom: 2px solid var(--dark-blue);
}

.route-item:hover {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}

.route-item a {
  font-family: Arial;
  font-size: 14px;
  color: inherit;
}

.header-contact-button {
  width: 134px;
  height: 31px;
  background-color: var(--blue);
  border: none;
  border-radius: 8px;
}
