.header {
  width: 100vw;
  box-shadow: 0px 4px 4px 0px #0000000a;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 5;
}

.header-container {
  margin: 0 auto;
  padding: 12px 24px 12px 24px;
  width: 100vw;
  max-width: 1180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  position: relative;
}

.header-logo {
  width: auto;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-img {
  height: 35px;
  width: auto;
  overflow: hidden;
}

.header-img {
  height: 100%;
  width: auto;
}

.header-logo-title {
  font-weight: 600;
  font-size: 32px;
}

.header-menu-button {
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 16px;
  border: none;
  display: none;
}

.header-nav {
  width: 100%;
  max-width: 671px;
  justify-content: space-between;
}

.header-nav-routes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.route-item {
  font-size: 15px;
  font-weight: 700;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  color: var(--not-selected);
}

.route-item:hover:not(.route-item--selected) {
  color: var(--blue);
}

.route-item-link {
  font-family: Arial;
  font-size: 14px;
  color: inherit;
}

.route-item--selected {
  color: var(--dark-blue);
  border-bottom: 2px solid var(--dark-blue);
}

.header-nav-plataforma {
  position: relative;
}

.nav-plataforma {
  position: absolute;
  margin-top: 15px;
  background-color: #fff;
  padding: 18px 24px;
  min-width: 160px;
  border-radius: 16px;
  box-shadow: 0px 0 4px 0px #00000017;
  text-align: center;
}

.nav-plataforma-item {
  margin-bottom: 8px;
}

.route-icon {
  margin-left: 4px;
  margin-bottom: -2px;
}

.route-item-lists {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}

.route-item-list {
  list-style: none;
  text-align: start;
}

.route-item-list:hover {
  background-color: #00000017;
}

.route-item-name,
.route-item-list a {
  cursor: pointer;
  font-family: Arial;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
}

.route-item-list a {
  color: var(--dark-blue);
}

.nav-donwload-app {
  text-align: start;
}

@media (max-width: 700px) {
  .header-container {
    gap: 24px;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: #fff;
    width: 100%;
    z-index: 4;
    padding: 12px 16px;
  }

  .header-menu-button {
    display: block;
    z-index: 4;
  }

  .hide-nav {
    display: none;
  }

  .header-nav-routes {
    flex-direction: column;
  }
  .route-item-link,
  .route-item,
  .route-item-name,
  .route-item-list a {
    font-family: poppins;
    font-size: 17px;
    font-weight: 500;
    padding: 3px 0;
  }

  .route-item:hover:not(.route-item--selected) {
    color: var(--not-selected);
  }

  .nav-plataforma {
    position: relative;
    box-shadow: unset;
    text-align: start;
    padding: 0;
  }

  .route-item-lists {
    gap: 8px;
  }
}
