.top {
  height: 32px;
  width: 100vw;
  display: flex;
  font-weight: bold;
  color: #fff;
  background-color: var(--medium-blue);
  font-size: 13px;
  position: relative;
  z-index: 1;
}

.top-bar {
  height: 100%;
  width: 64%;
  position: absolute;
  background-color: var(--soft-blue);
  z-index: -1;
  border-radius: 0 16px 16px 0;
}

.top-items {
  width: 100%;
  max-width: 1180px;
  padding: 0 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.top-contacts {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Arial;
  font-size: 11px;
  letter-spacing: 1px;
}

.top-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.top-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-right: 33px;
  margin-top: 3px;
}

.top-social-icon {
  cursor: pointer;
  color: #fff;
}

.top-account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.top-account-link {
  font-weight: 700;
  color: #fff;
  border-bottom: 1px solid transparent;
}

.top-account--selected {
  border-bottom: 1px solid #fff;
}
