.footer {
  width: 100vw;
  background-color: var(--title-blue);
  padding: 38px 24px;
}

.footer-header,
.footer-body,
.footer-bottom {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer-header-logo-containter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 32px;
}

.footer-header-logo {
  display: flex;
  align-items: flex-end;
}

.footer-header-logo-img {
  height: 48px;
  width: 51px;
}

.footer-header-logo-title {
  color: #fff;
  font-weight: 500;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-header-logo-social {
  display: flex;
  gap: 8px;
}

.social-item {
  padding: 8px 8px 5px;
  border-radius: 50%;
  background-color: var(--medium-blue);
  box-shadow: 0px 4px 4px 0px #0000002b;
}

.social-item-icon {
  color: #fff;
  cursor: pointer;
}

.footer-body-container {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.footer-body-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.footer-body-addresses {
  margin: 16px 0;
  height: 110px;
  width: 100%;
  max-width: 437px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-body-text {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

.footer-body-text span {
  font-weight: 700;
}

.footer-body-contacts-email {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

.footer-body-contacts-phone {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.footer-body-phone {
  color: #fff;
  text-decoration: underline;
}

.footer-body-links {
  margin: 16px 0;
  margin-left: -8px;
}

.footer-body-link {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  padding: 4px 8px;
  color: #fff;
}

.footer-body-link:hover {
  background-color: var(--local-blue);
}

.footer-body-link-text {
  font-size: 14px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-body-register {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-body button {
  height: 27px;
  width: 100%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-blue);
  max-width: 100%;
}

.footer-bottom {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  color: #fff;
}

.footer-bottom-item {
  font-size: 14px;
  font-weight: 300;
}

.footer-bottom-item:last-child {
  display: flex;
  gap: 24px;
}

.footer-line {
  border-bottom: 1px solid #ffffff33;
  border-radius: 8px;
}

.footer-bottom-link {
  color: #fff;
}

@media (max-width: 768px) {
  .footer {
    padding: 38px 16px 24px;
  }
  .footer-body-container {
    flex-direction: column;
    gap: 32px;
    justify-content: center;
  }

  .footer-body-register {
    gap: 24px;
  }

  .footer-body-register input {
    padding: 20px;
    border-radius: 18px;
  }

  .footer-body button {
    padding: 20px 0;
  }
}
