.container {
  max-width: 100vw;
  overflow: hidden;
}
.banner-buttons {
  display: flex;
  gap: 16px;
}

.button {
  width: 218px;
  height: 33px;
  color: #fff;
  background-color: var(--primary-blue);
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}

.button--inverted {
  background-color: #fff;
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
  font-weight: 600;
}

.button--small {
  width: 153px;
  font-size: 13px;
}

.button--underline {
  background-color: transparent;
  color: var(--primary-blue);
  text-decoration: underline;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.banner-button {
  background-color: var(--banner-blue);
  font-family: Arial;
  font-weight: 700;
  font-style: Bold;
  font-size: 13px;
}

.banner-button--inverted{
  background-color: #fff;
  color: var(--banner-blue);
  border: 1px solid var(--banner-blue);
}

.text--dark {
  font-weight: 600;
}

.form-input {
  border-radius: 30px;
  height: 42px;
  padding-left: 24px;
  font-size: 16px;
  background-color: #fff;
}

.form-input-small {
  height: 32px;
}

.desc-bold{
  font-weight: bold;
}
