.container {
  max-width: 100vw;
  overflow: hidden;
}
.banner-buttons {
  display: flex;
  gap: 16px;
}

.button {
  width: 100%;
  max-width: 218px;
  text-align: center;
  padding: 6px;
  color: #fff;
  background-color: var(--banner-blue);
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}

.button--inverted {
  background-color: #fff;
  border: 1px solid var(--banner-blue);
  color: var(--banner-blue);
  font-weight: 600;
}

.button--white {
  background-color: #fff;
  box-shadow: 4px 4px 4px 0px #00000014;
  color: var(--banner-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.button--small {
  width: 153px;
  font-size: 13px;
}

.button--underline {
  background-color: transparent;
  color: var(--primary-blue);
  text-decoration: underline;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.banner-button {
  background-color: var(--banner-blue);
  font-family: Arial;
  font-weight: 700;
  font-style: Bold;
  font-size: 13px;
}

.banner-button--inverted {
  background-color: #fff;
  color: var(--banner-blue);
  border: 1px solid var(--banner-blue);
}

.text--dark {
  font-weight: 600;
}

.form-input {
  border-radius: 30px;
  height: 42px;
  padding-left: 24px;
  font-size: 16px;
  background-color: #fff;
}

.register-input {
  width: 100%;
  border-radius: 16px;
  height: 39px;
  padding-left: 24px;
  font-size: 16px;
  border: 1px solid var(--placeholder-gray);
  width: 100%;
  max-width: 335px;
  min-width: 250px;
  margin-top: 14px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.register-input::placeholder {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.form-input-small {
  height: 32px;
}

.desc-bold {
  font-weight: bold;
}

.emphasis-orange {
  background-color: var(--medium-orange);
}

.emphasis-primary-blue {
  background-color: var(--primary-blue);
}

.emphasis-blue {
  background-color: var(--blue);
}

.emphasis-medium-blue {
  background-color: var(--primary-blue);
}

.emphasis-green {
  background-color: var(--soft-green);
}

.emphasis-dark-blue {
  background-color: var(--icon-blue);
}

.title-emphasis {
  color: var(--banner-blue);
  font-weight: 700;
}

@media (max-width: 600px) {
  .register-input {
    max-width: 100%;
  }
}
