.container {
  max-width: 100vw;
  overflow: hidden;
}
.banner-buttons {
  display: flex;
  gap: 16px;
}

.button {
  width: 218px;
  height: 33px;
  color: #fff;
  background-color: var(--primary-blue);
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}

.button--inverted {
  background-color: #fff;
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
  font-weight: 600;
}

.button--small {
  width: 153px;
  font-size: 13px;
}

.button--underline{
  background-color: transparent;
  color: var(--primary-blue);
  text-decoration: underline;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.pagination-button {
  border: none;
  background-color: transparent;
  color: var(--not-selected);
}

.pagination-button--available {
  color: var(--desc-color);
}

.text--dark {
  font-weight: 600;
}
