.container{
    max-width: 100vw;
    overflow: hidden;
}
.banner-buttons{
    display: flex;
    gap: 16px;
}

.button{
    width: 218px;
    height: 33px;
    color: #fff;
    background-color: var(--primary-blue);
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
}

.button--inverted{
    background-color: #fff;
    border: 1px solid var(--primary-blue);
    color: var(--primary-blue);
}

.button--small{
    width: 153px;
    font-size: 13px;
}