:root {
  --primary-blue: #09acb1;
  --moredark-blue: #000a1b;
  --dark-blue: #001a47;
  --medium-blue: #014478;
  --blue: #018abe;
  --soft-blue: #66d1ea;
  --light-blue: #d6e7ee;
  --title-blue: #102f7d;
  --card-blue: #e5f7ff;
  --icon-blue: #013181;
  --form-blue: #42688b;
  --news-blue: #82ecef;
  --local-blue: #e3f0ff45;
  --banner-blue: #0976b1;
  --gradient-blue: #93cbd8;

  --dark-green: #021a1a;
  --medium-green: #195849;
  --green: #93c02c;
  --soft-green: #2ea98c;
  --light-green: #2cc295;

  --dark-orange: #fd7b03;
  --medium-orange: #ed8c36;
  --orange: #ffa451;
  --soft-orange: #ffb76b;
  --light-orange: #ffcf91;

  --dark-yellow: #f8de4b;
  --medium-yellow: #fcee50;
  --yellow: #fef78d;
  --soft-yellow: #fef7af;
  --light-yellow: #fef7cd;

  --desc-color: #4e4e4e;
  --not-selected: #ababab80;
  --opinion-gray: #717171;
  --desc-gray: #2a2a2a;
  --placeholder-gray: #ababab;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  box-sizing: border-box;
  cursor: default;
  outline: none;
}

input,
textarea {
  width: 100%;
  border: none;
  cursor: text;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--placeholder-gray);
  font-family: Arial;
  font-weight: 700;
  font-size: 12px;
}

button {
  cursor: pointer;
}

a {
  color: #fff;
  cursor: pointer;
}
