.carroussel-container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.carroussel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
}

.carroussel-item{
    height: 100%;
    min-width: 100%;
    transition: 1.3s all ease-in-out;
    margin-left: 1px;
}

.carroussel-pagination{
    position: absolute;
    z-index: 2;
    height:20px;
    width: 50px;
    display: flex;
    gap: 4px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.pagination-item {
  height: 8px;
  width: 8px;
  background-color: var(--not-selected);
  border-radius: 50%;
}

.pagination-item--selected {
  background-color: var(--primary-blue);
}

.carroussel-prev,.carroussel-next{
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
}

.carroussel-next{
    left: unset;
    right: 24px;
}

.pagination-button {
  border: none;
  background-color: transparent;
  color: var(--not-selected);
  cursor: default;
}

.pagination-button--available {
  color: var(--desc-color);
  cursor: pointer;
}

